body {
    background-color: beige;
    background: url(jtmk\ wallpaper.jpg);
    background-size: 750pxs; ;
    background-repeat:no-repeat;
   
}

.bg-darks {
    background-color: darkolivegreen;
}


.text-whites {
    color: white;
    text-align: center;
}

.button {

}

.container .box p {
    background-color: yellow;
}

.toUpperCase {
    text-transform:uppercase;
}